@model GhostRunner.Models.CommandLineScript

<script type="text/javascript">
    function validateScript() {
        var validationErrors = {
            Errors: [],
            Warnings: []
        };
        
        if (codeEditor) {
            var code = codeEditor.getSession().getValue();

            if (code.trim().length == 0) validationErrors.Errors.push("- A script has not been defined");
        }
        else validationErrors.Errors.push("- A script has not been defined");

        return validationErrors;
    }

    $(document).ready(function () {
        codeEditor = ace.edit("code-editor");
        codeEditor.setTheme("ace/theme/github");
        codeEditor.getSession().setMode("ace/mode/text");
        codeEditor.setShowPrintMargin(false);
    });
</script>

@Html.HiddenFor(model => model.Type)
<input type="hidden" id="Content" name="Content" />
<div class="section">
    <div class="header">Script</div>
    <div class="code-input-container">
        <pre id="code-editor">@Html.Raw(Model.Content)</pre>
    </div>
</div>