@model GhostRunner.Models.GruntScript

<script type="text/javascript">
    function validateScript() {
        var validationErrors = {
            Errors: [],
            Warnings: []
        };

        if ($("#Content").val().trim().length == 0) validationErrors.Errors.push("- A script has not been defined");

        return validationErrors;
    }
</script>

@Html.HiddenFor(model => model.Type)
<div class="section">
    <div class="header">Script</div>
    <div class="input-container">@Html.TextArea("Content", Model.Content, new { @class = "code-text large", @wrap = "off" })</div>
</div>