@{
    Layout = "~/Views/Shared/_Home.cshtml";
}
@model GhostRunner.ViewModels.Home.IndexModel

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $('#signup-button').click(function () {
            window.location = '@Url.Action("SignUp")';
        });

        $('#signin-button').click(function () {
            window.location = '@Url.Action("SignIn")';
        });
    });
</script>

<div class="header-bar">
    <img id="logo" src="~/Images/logo.png" class="left" />
    <div id="logo-title" class="left">GhostRunner</div>
    <div id="authenticate-container" class="right">
        <button id="signup-button">CREATE AN ACCOUNT</button>
        <button id="signin-button">Sign In</button>
    </div>
    <div class="clear"></div>
</div>
<div id="page-content">

</div>