@model GhostRunner.ViewModels.Scripts.Partials.CreateScriptModel

@using (Html.BeginForm("InsertNewScript/" + Model.Project.ExternalId, "Scripts", FormMethod.Post, new { @id = "new-script" }))
{
    <div class="model-page panel page">
        <div class="header">New Script</div>
        <div class="body">
            <div class="section">
                <div class="header">Name @Html.ValidationMessageFor(model => model.Script.Name)</div>
                <div class="input-container">@Html.TextBoxFor(model => model.Script.Name)</div>
            </div>
            <div class="section">
                <div class="header">Description (Optional)</div>
                <div class="input-container">@Html.TextAreaFor(model => model.Script.Description)</div>
            </div>
            <div class="section">
                <div class="header">Script</div>
                <div class="input-container">@Html.TextAreaFor(model => model.Script.Content, new { @class = "large" })</div>
            </div>
        </div>
        <div class="navigation">
            <div class="left"><input type="button" onclick="clearModalDialog();" value="Cancel" /></div>
            <div class="right"><input type="submit" value="Create" /></div>
            <div class="clear"></div>
        </div>
    </div>
}
<script language="javascript" type="text/javascript">
    $.validator.unobtrusive.parse($("#new-script"));
</script>