@model GhostRunner.ViewModels.Scripts.Partials.EditScriptModel

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("textarea").keydown(function (e) {
            if (e.keyCode === 9) {
                var start = this.selectionStart;
                var end = this.selectionEnd;

                var $this = $(this);
                var value = $this.val();

                $this.val(value.substring(0, start)
                            + "\t"
                            + value.substring(end));

                this.selectionStart = this.selectionEnd = start + 1;

                e.preventDefault();
            }
        });
    });
</script>

@using (Html.BeginForm("Update/" + Model.Script.ExternalId, "Scripts", FormMethod.Post))
{
    <div class="model-page panel page">
        <div class="header">Edit Script</div>
        <div class="body">
            <div class="section">
                <div class="header">Name @Html.ValidationMessageFor(model => model.Script.Name)</div>
                <div class="input-container">@Html.TextBoxFor(model => model.Script.Name)</div>
            </div>
            <div class="section">
                <div class="header">Description (Optional)</div>
                <div class="input-container">@Html.TextAreaFor(model => model.Script.Description, new { @class = "textarea" })</div>
            </div>
            <div class="section">
                <div class="header">Script</div>
                <div class="input-container">@Html.TextAreaFor(model => model.Script.Content, new { @class = "code-text large" })</div>
            </div>
            <div class="navigation">
                <div class="left"><input type="button" onclick="clearModalDialog();" value="Cancel" /></div>
                <div class="right"><input type="submit" value="Update" /></div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
}