@model GhostRunner.ViewModels.Sequences.Partials.EditSequenceModel

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("textarea").keydown(function (e) {
            if (e.keyCode === 9) {
                var start = this.selectionStart;
                var end = this.selectionEnd;

                var $this = $(this);
                var value = $this.val();

                $this.val(value.substring(0, start)
                            + "\t"
                            + value.substring(end));

                this.selectionStart = this.selectionEnd = start + 1;

                e.preventDefault();
            }
        });
    });
</script>

@using (Html.BeginForm("UpdateSequence/" + Model.Sequence.ExternalId, "Sequences", FormMethod.Post, new { @id = "new-sequence" }))
{
    <div class="model-code panel">
        <div class="header">Edit Sequence</div>
        <div class="body">
            <div class="section">
                <div class="header">Name @Html.ValidationMessageFor(model => model.Sequence.Name)</div>
                <div class="input-container">@Html.TextBoxFor(model => model.Sequence.Name)</div>
            </div>
            <div class="section">
                <div class="header">Description (Optional)</div>
                <div class="input-container">@Html.TextAreaFor(model => model.Sequence.Description, new { @class = "textarea" })</div>
            </div>
        </div>
        <div class="navigation">
            <div class="left"><input type="button" onclick="clearModalDialog();" value="Cancel" /></div>
            <div class="right"><input type="submit" value="Update" /></div>
            <div class="clear"></div>
        </div>
    </div>
}
<script language="javascript" type="text/javascript">
    $.validator.unobtrusive.parse($("#new-sequence"));
</script>