@model GhostRunner.ViewModels.Sequences.Partials.ScriptModel

<div class="model-page panel page">
    <div class="header">@Model.Script.Name</div>
    <div class="desc">@Model.Script.Description</div>
    <div class="body">
        @if (!String.IsNullOrEmpty(Model.Script.Content))
        {
            <div id="script-detail_@Model.Script.ExternalId" class="details">
                @if (Model.Script.GetAllParameters().Count() > 0)
                {
                    <div class="detail-header">Parameters</div>
                    foreach (String parameter in Model.Script.GetAllParameters())
                    {
                        <div class="parameter">[@parameter]</div>
                    }
                    <br />
                    <br />
                }
                <div class="detail-header">Script</div>
                <div class="code">@Html.Raw(Model.Script.GetHTMLFormattedContent())</div>
            </div>
        }
        else
        {
            <span class="more">This scripts content currently isn't defined</span>
        }
    </div>
    <div class="navigation">
        <div class="right"><input type="button" onclick="clearModalDialog();" value="Close" /></div>
        <div class="clear"></div>
    </div>
</div>