.header-bar #action-container {
	margin-top: 5px;
	margin-right: 3px;
}

/* Project Page Styles */

#page-content #project-list {
    position:relative;
	max-width: 800px;
	margin: 0 auto;
    top: 60px;
}

#page-content #project {
	position: relative;
    padding: 12px;
    margin-bottom: 15px;
    background-color: #FDFDFD;
    -webkit-box-shadow: 0 1px 4px #bbb;
    -moz-box-shadow: 0 1px 4px #bbb;
    box-shadow: 0 1px 4px #bbb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #222222;
}

#page-content .project {
	position: relative;
    padding: 12px;
    margin-bottom: 15px;
    background-color: #FDFDFD;
    -webkit-box-shadow: 0 1px 4px #bbb;
    -moz-box-shadow: 0 1px 4px #bbb;
    box-shadow: 0 1px 4px #bbb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #222222;
    cursor: pointer;
}

#page-content .project .title {
	position: relative;
    float: left;
    font-size: 24px;
    font-weight: bold;
}

#page-content .project .button-visibility {
    position: relative;
    float: right;
    top: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #ccc;
    cursor: pointer;
}

#page-content .project .button-container {
    position: relative;
    float: right;
    margin-left:10px;
    display: none;
}

/* Demo Page Styles */

#page-content #demo-header {
    position:relative;
    top: 50px;
	max-width: 800px;
	margin: 0 auto;
    z-index:10;
}

#page-content #demo-header ul {
    padding: 0px;
    margin: 0px;
}

#page-content #demo-header li {
    display: inline;
    list-style-type:none; 
    background-color: #ffffff;
    padding: 6px 10px 6px 10px;
    margin: 0px;
    color: #666666;
    font-size: 12px;
    border: 1px solid #bbbbbb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    cursor: pointer;
}

#page-content #demo-header li.selected {
    color: #ffffff;
    background-color: #666666;
    border: 1px solid #666666;
    -webkit-box-shadow: 0 1px 4px #bbb;
    -moz-box-shadow: 0 1px 4px #bbb;
    box-shadow: 0 1px 4px #bbb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* Initializations Styles */

#page-content .content-list .item-container {
    padding: 12px;
    margin-top:10px;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    color: #222222;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#page-content .content-list .item-container .title {
    font-size: 20px;
    border-bottom: 1px solid #222222;
    padding-bottom: 4px;
    margin-bottom: 10px;
}

#page-content .content-list .item-container .desc {
    font-size: 14px;
    margin: 0px 3px 0px 3px;
    margin-bottom:8px;
}

#page-content .content-list .item-container .details {
	position: relative;
    font-size: 14px;
    padding: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #dddddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #222222;
}

#page-content .content-list .item-container .details .detail-header {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 6px;
}

#page-content .content-list .item-container .details .parameter {
    display: inline-block;
    margin-right: 50px;
}

#script-task-container .script-task {
    margin-top: 5px;
    background-color: #f3f3f3;
    padding: 8px 10px 8px 10px;
}

#script-task-container .script-task .status {
    float: left;
    font-weight: bold;
    margin-right: 15px;
}

#script-task-container .script-task .date {
    float: left;
    width:105px;
    font-weight: normal;
    font-size: 11px;
    color: #222222;
}

#script-task-container .script-task .unprocessed {
    color: #ded526;
}

#script-task-container .script-task .processing {
    color: #2fba2f;
}

#script-task-container .script-task .completed {
    color: #2fba2f;
}

#script-task-container .script-task .errored {
    color: #ff0000;
}

#script-task-container .script-task .detail {
    border-top: 1px solid #222222;
    margin-top: 10px;
    margin-bottom: 3px;
    padding-top: 8px;
}

#page-content .content-list .item-container .more {
    font-size: 11px;
    margin: 0px 3px 0px 3px;
    font-style: italic;
    text-decoration: none;
    margin-bottom:8px;
    cursor: pointer;
}

#page-content .content-list .item-container .more:hover {
    text-decoration: underline;
}

#page-content .content-list {
    position:relative;
    top: 67px;
	max-width: 780px;
	margin: 0 auto;
    padding: 10px;
    background-color: #FDFDFD;
    color: #222222;
    -webkit-box-shadow: 0 1px 4px #bbb;
    -moz-box-shadow: 0 1px 4px #bbb;
    box-shadow: 0 1px 4px #bbb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#page-content .content-list .header {
    position:relative;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

#page-content .content-list .header-button {
    position:relative;
    top: -1px;
}