/* Page Content Styles */

    #page-content {
		position: relative;
		height: 100%;
		width: 100%;
	}

/* Page Navigation Styles */

    #page-content #page-navigation {
        position:relative;
        top: 55px;
	    width: 800px;
	    margin: 0 auto;
        margin-bottom: 8px;
    }

    #page-content #page-navigation .header-button button {
        padding: 5px 12px 5px 12px;
    }

    #page-content ul {
        position:relative;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    #page-content ul > li {
        display: inline-block;
        zoom:1;
        *display:inline;
        margin-right: 2px;
        padding: 6px 10px 6px 10px;
        color: #888888;
        font-size: 12px;
        border: 1px solid #bbbbbb;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
        cursor: pointer;
    }

    #page-content ul > li.selected {
        color: #ffffff;
        background-color: #666666;
        border: 1px solid #666666;
        -webkit-box-shadow: 0 1px 4px #ccc;
        -moz-box-shadow: 0 1px 4px #ccc;
        box-shadow: 0 1px 4px #ccc;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
    }

    #page-content #main {
        position:relative;
        top: 55px;
	    width: 780px;
	    margin: 0 auto;
        padding: 1px 10px 10px 10px;
        color: #222222;
    }

    #page-content #main .header {
        position: relative;
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
    }

    .page-panel {
        background-color: #FDFDFD;
        -webkit-box-shadow: 0 1px 4px #bbb;
        -moz-box-shadow: 0 1px 4px #bbb;
        box-shadow: 0 1px 4px #bbb;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .item-container {
        padding: 10px 12px 10px 12px;
        margin-top:10px;
        background-color: #ffffff;
        border: 1px solid #eeeeee;
        color: #222222;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
    }

    .item-container .title {
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 8px;
    }

    .item-container .desc {
        font-size: 14px;
        color: #444444;
    }

/* Header styles */

	.header-bar {
		position: fixed;
		top: 0px;
		width: 100%;
        min-height: 36px;
		background-color: #3B5998;
		border-bottom: 1px solid 284E9E;
		z-index: 1002;
	}

	.header-bar #splash-logo {
		position: relative;
		float: left;
		left: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
		width: 160px;
		cursor: hand;
		cursor: pointer;
	}

	.header-bar #logo {
	    margin-top: 5px;
	    margin-left: 14px;
    }

    .header-bar #logo-title {
        margin-top: 8px;
        padding-left: 10px;
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
    }
    
    .header-bar #action-container {
	    margin-top: 5px;
	    margin-right: 3px;
    }


/* Project Page Styles */

    #page-content #project-list {
        position:relative;
        top: 60px;
	    max-width: 800px;
	    margin: 0 auto;
    }

    #page-content .project {
	    position: relative;
        padding: 12px;
        margin-bottom: 15px;
	    color: #222222;
        cursor: pointer;
    }

    #page-content .project .title {
	    position: relative;
        float: left;
        font-size: 24px;
        font-weight: bold;
    }

/* Button container Styles */

    .button-visibility {
        position: relative;
        float: right;
        margin: 5px;
        font-size: 16px;
        font-weight: bold;
        color: #ccc;
        cursor: pointer;
    }

    .button-container {
        position: relative;
        float: right;
        margin-left: 5px;
        display: none;
    }

/* Script Styles */

     .bookend {
        text-align: center;
        font-size: 12px;
    }

    .bookend-start {
        margin-bottom:6px;
    }

    .bookend-end {
        margin-top:7px;
    }

    #page-content #main .sequence-desc {
        position: relative;
        margin-top: 8px;
        margin-bottom: 5px;
    }

    .script {
        position: relative;
        width: 185px;
        font-size: 16px;
        text-align: center;
        padding: 4px 6px 4px 6px;
        margin-top: 4px;
        background-color: #ececec;
        border: 1px solid #aaaaaa;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .available-script {
        z-index: 999;
    }

    .sequence-script {
        left: 50%;
        margin-left: -93px;
        z-index: 998;
    }

    .detail {
	    position: relative;
        font-size: 14px;
        padding: 12px;
        margin-top: 15px;
        margin-bottom: 10px;
        border: 1px solid #dddddd;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	    color: #222222;
    }

    .detail .detail-header {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 6px;
    }

    .detail .parameter {
        display: inline-block;
        color: #444444;
        margin-right: 50px;
    }

    #script-task-container .script-task {
        margin-top: 5px;
        background-color: #f3f3f3;
        padding: 8px 10px 8px 10px;
    }

    #script-task-container .script-task .status {
        float: left;
        font-weight: bold;
        margin-right: 15px;
    }

    #script-task-container .script-task .date {
        float: left;
        width:110px;
        font-weight: normal;
        font-size: 11px;
        color: #222222;
        padding-top: 4px;
    }

    #script-task-container .script-task .unprocessed {
        color: #ded526;
    }

    #script-task-container .script-task .processing {
        color: #2fba2f;
    }

    #script-task-container .script-task .completed {
        color: #2fba2f;
    }

    #script-task-container .script-task .errored {
        color: #ff0000;
    }

    .more {
        font-size: 11px;
        font-style: italic;
        text-decoration: none;
        margin-top:8px;
        cursor: pointer;
    }

    .more:hover {
        text-decoration: underline;
    }

    .none-defined {
        margin-top: 8px;
        font-style: italic;
    }

/* Schedule styles */

    .scheduled .schedule-title {
        font-weight: bold;
        margin-bottom: 3px;
    }

    .scheduled .schedule-time {
        font-size: 12px;
        color: #888888;
        margin-left: 1px;
    }

    .scheduled .button-container {
        margin-top: 5px;
    }

    .scheduled .button-visibility {
        margin-top: 10px;
    }