/* global styles */

	html {
	    margin: 0px;
	    padding: 0px;
	    height: 100%;
	}

	body {
	    background: #FFFFFF;
	    margin: 0px;
	    padding: 0px;
	    height: 100%;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 15px;
	}

/* General layout style*/

    .textarea {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .code {
        padding: 10px;
        background-color: #ffffff;
        font-family: monospace;
	    font-size:14px;
        border: 1px solid #ececec;
        white-space: nowrap;
        overflow-x: auto;
    }

    .code-text {
        background-color: #ffffff;
        font-family: monospace;
	    font-size:14px;
    }
    
/* table classes */
    
    .table {
        display: table;
    }
    
    .table-row {
        display: table-row;
    }
    
    .table-cell {
        display: table-cell;
    }
    
/* modal classes */

	#modal-overlay {
	    position: fixed;
	    top: 0px;
	    bottom: 0px;
	    left: 0px;
	    right: 0px;
	    background-color: rgba(0,0,0,0.8);
	    z-index:1100;
        overflow: auto;
        display: none;
	}

    #modal-overlay .model-page {
	    position: relative;
	    max-width: 450px;
	    margin: 0 auto;
        top: 20px;
        margin-bottom:20px;
    }

    #modal-overlay .model-code {
	    position: absolute;
        top: 10px;
        margin-bottom: 10px;
        left: 10px;
        right: 10px;
    }

    #modal-overlay .model-dialog {
	    position: relative;
	    max-width: 450px;
	    margin: 0 auto;
        top: 80px;
        margin-bottom:20px;
    }

/* error classes */

    .field-validation-error {
        font-weight: bold;
        color: #ff0000;
    }

/* utility classes */

	button, input[type=submit], input[type=button], .button {
		padding-top: 4px;
		padding-bottom: 4px;
		padding-left: 10px;
		padding-right: 10px;
		font-size: 14px;
		font-weight: bold;
		color: #444444;
		border-top: 1px solid #cecece;
		border-bottom: 1px solid #a0a0a0;
		border-left: 1px solid #cecece;
		border-right: 1px solid #cecece;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		background-color: #FEFEFE;
		background-image: -moz-linear-gradient(top, #FEFEFE, #F3F3F3);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FEFEFE), to(#F3F3F3));
		background-image: -webkit-linear-gradient(top, #FEFEFE, #F3F3F3);
		background-image: -o-linear-gradient(top, #FEFEFE, #F3F3F3);
		background-image: linear-gradient(to bottom, #FEFEFE, #F3F3F3);
		background-repeat: repeat-x;
		cursor: pointer;
	}

    select {
	    padding: 2px 3px 2px 3px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	    font-size:14px;
    }

    .button-padding {
        margin-left: 3px;
    }

    .button-panel-padding {
        margin-top: 10px;
        margin-left: 3px;
    }

    a {
        color: #243862;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

	.selectable {
		cursor: pointer;
	}

	.link {
    	color: #0d0ddc;
        text-decoration: none;
		cursor: pointer;
	}

	.link:hover {
    	color: #0d0ddc;
        text-decoration: underline;
		cursor: pointer;
	}

	.left {
	    position: relative;
	    float: left;
	}
	
	.right {
	    position: relative;
	    float: right;
	}

	.clear {
	    clear: both;
	}